.categories-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 800px;
  height: 67px;
  top: 120px;
  left: 70px;

  background: #ffffff;
}

@media (max-width: 640px) {
  .categories-container {
    gap: 10px;
    left: 35px;
    overflow-x: scroll;
    width: 280px;
  }
}
