.container-div {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 2520px;

  @media (min-width: 640px) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  @media (min-width: 768px) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  @media (min-width: 1280px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
