.columns-container {
  display: flex;
  flex-direction: row;
  gap: 126px;
}

@media (max-width: 640px) {
  .columns-container {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
}
